{% extends 'products/base.html' %}
{% load static %}

{% block title %}Каталог{% endblock %}

{% block content %}

    <div class="main">
        <h1 id="catalogue-head">Каталог электрогитар</h1>
        {% for item in query %}
            <p class="product-item">
                <img src="/media/{{ item.image }}" alt="{{ item.name }}">
                <br>
                <a href="{{ item.id }}"> {{ item.category }} {{ item.name }}</a>
            </p>
        {% endfor %}

    </div>
{% endblock %}