{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static 'products/style1.css' %}">
    </head>

    <body>
        <div class="header">
                <div id="logo">
                    <img src="/media/images/logo-small.png" alt="logo" id="img-logo-left">
                    <h1 id="title">{{ title }}</h1>
                    <img src="/media/images/logo-small.png" alt="logo" id="img-logo-right">
                </div>
                <div id="menu">
                    <ul class="menu-list">
                        {% for item in menu %}
                            <li class="menu_item"><a href={{ item.href }}>{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
        <div class="main">
            <p align="center">
                <img src="/media/images/guitar.jpg" alt="Гитара" id="guitar">
            </p>
            <p align="center">
                Интернет-магазин "Голубые гитары" приветствует начинающих и профессиональных гитаристов!!<br>
                У нас вы найдете гитары на любой вкус и цвет. <br>
                Различных форм и содержания. <br>
                Для разнообразных направлений и стилей музыки
            </p>
        </div>
        <div class="footer">
            &copy; Все права защищены
        </div>
    </body>
</html>